n8n/delaydelo-yukassa-receiver.json
{
  "name": "Делай Дело — receive ЮKassa webhook + deliver",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "delaydelo-yukassa",
        "options": {}
      },
      "id": "dd-rx-1",
      "name": "Webhook (from YooKassa)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-80, 800],
      "webhookId": "delaydelo-yukassa"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1 },
          "conditions": [
            {
              "id": "is-succeeded",
              "leftValue": "={{ $json.body.event || $json.event }}",
              "rightValue": "payment.succeeded",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "is-our-project",
              "leftValue": "={{ ($json.body.object && $json.body.object.metadata && $json.body.object.metadata.project) || ($json.object && $json.object.metadata && $json.object.metadata.project) }}",
              "rightValue": "delaydelo",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dd-rx-2",
      "name": "Only payment.succeeded + delaydelo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [144, 800]
    },
    {
      "parameters": {
        "functionCode": "// === Карта выдачи: slug → способ доставки ===\n// Заменить REPLACE_* на реальные значения после загрузки файлов в Google Drive\n// и подготовки страниц-инструкций / Notion-копий / шаблонов Google Sheets.\n//\n// deliveryType:\n//   'file' — n8n скачает файл из Google Drive и приложит к письму (для PDF/Excel/zip).\n//   'link' — n8n отправит письмо со ссылкой, без вложения\n//             (для Notion-шаблонов, Google Sheets-копий, активации Pro-доступа).\nconst MAP = {\n  'unit-economy-excel':      { deliveryType: 'file', fileId: 'REPLACE_FILE_ID_unit_economy_excel',  fileName: 'unit-economy-excel.xlsx', title: 'Юнит-экономика SKU для WB и Ozon' },\n  'wb-launch-30-days':       { deliveryType: 'file', fileId: 'REPLACE_FILE_ID_wb_launch_30_days',  fileName: 'wb-launch-30-days.pdf',   title: 'Запуск на Wildberries за 30 дней' },\n  'wb-card-templates':       { deliveryType: 'file', fileId: 'REPLACE_FILE_ID_wb_card_templates',  fileName: 'wb-card-templates.zip',   title: 'Шаблоны карточек WB' },\n  'self-employed-checklist': { deliveryType: 'file', fileId: 'REPLACE_FILE_ID_self_employed',      fileName: 'self-employed-checklist.pdf', title: 'Регистрация самозанятого за 1 час' },\n  'raise-price-scripts':     { deliveryType: 'file', fileId: 'REPLACE_FILE_ID_raise_price',        fileName: 'raise-price-scripts.pdf', title: 'Скрипты переписки: подъём цены' },\n  'contract-template':       { deliveryType: 'file', fileId: 'REPLACE_FILE_ID_contract_template', fileName: 'contract-template.zip',   title: 'Шаблон договора оказания услуг' },\n  'ozon-niche-matrix':       { deliveryType: 'link', shareUrl: 'REPLACE_GOOGLE_SHEETS_COPY_URL',                            title: 'Матрица ниш Ozon — Google Sheets' },\n  'notion-crm-master':       { deliveryType: 'link', shareUrl: 'REPLACE_NOTION_DUPLICATE_URL',                                title: 'CRM в Notion для мастера и фрилансера' },\n  'calc-pro-year':           { deliveryType: 'link', shareUrl: 'https://artemida2.github.io/busines/pro-access/?plan=year', title: 'Калькулятор Pro — годовой доступ' },\n  'calc-pro-lifetime':       { deliveryType: 'link', shareUrl: 'https://artemida2.github.io/busines/pro-access/?plan=lifetime', title: 'Калькулятор Pro — пожизненный доступ' }\n};\n\nconst body = items[0].json.body || items[0].json;\nconst object = (body && body.object) || {};\nconst metadata = object.metadata || {};\nconst slug = (metadata.guide_slug || '').toString();\nconst email = (metadata.email || (object.receipt && object.receipt.customer && object.receipt.customer.email) || '').toString().trim();\nconst paymentId = (object.id || '').toString();\nconst amount = object.amount || {};\n\nif (!slug || !MAP[slug]) {\n  throw new Error('Unknown or missing guide_slug in metadata: ' + slug);\n}\nif (!email) {\n  throw new Error('Missing email in metadata');\n}\n\nconst product = MAP[slug];\n\nreturn [{\n  json: {\n    guide_slug: slug,\n    email,\n    payment_id: paymentId,\n    amount_value: amount.value,\n    amount_currency: amount.currency,\n    title: product.title,\n    delivery_type: product.deliveryType,\n    fileId: product.fileId || '',\n    fileName: product.fileName || '',\n    shareUrl: product.shareUrl || ''\n  }\n}];"
      },
      "id": "dd-rx-3",
      "name": "Resolve slug → delivery",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [384, 720]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1 },
          "conditions": [
            {
              "id": "is-file",
              "leftValue": "={{ $json.delivery_type }}",
              "rightValue": "file",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dd-rx-4",
      "name": "delivery_type = file?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [624, 720]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": { "__rl": true, "value": "={{ $json.fileId }}", "mode": "id" },
        "options": { "fileName": "={{ $json.fileName }}" }
      },
      "id": "dd-rx-5",
      "name": "Google Drive: download",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [864, 640],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_DRIVE_CRED_ID",
          "name": "Google Drive (Делай Дело)"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Resolve slug → delivery').item.json.email }}",
        "subject": "=Спасибо за покупку — «{{ $('Resolve slug → delivery').item.json.title }}»",
        "message": "=<p>Здравствуйте!</p>\n<p>Спасибо за покупку — <strong>«{{ $('Resolve slug → delivery').item.json.title }}»</strong>. Файл во вложении к этому письму.</p>\n<ul>\n  <li>Платёж: <code>{{ $('Resolve slug → delivery').item.json.payment_id }}</code></li>\n  <li>Сумма: {{ $('Resolve slug → delivery').item.json.amount_value }} {{ $('Resolve slug → delivery').item.json.amount_currency }}</li>\n</ul>\n<p>Электронный чек 54‑ФЗ ЮKassa отправит на этот же email отдельным письмом.</p>\n<p>Если письмо или чек не пришли — напишите в ответ на это сообщение.</p>\n<p>—<br>Делай Дело<br><a href=\"https://artemida2.github.io/busines\">artemida2.github.io/busines</a></p>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [{}]
          }
        }
      },
      "id": "dd-rx-6",
      "name": "Gmail: send file",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1104, 640],
      "webhookId": "dd-rx-gmail-file",
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CRED_ID",
          "name": "Gmail (Делай Дело)"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Resolve slug → delivery').item.json.email }}",
        "subject": "=Спасибо за покупку — «{{ $('Resolve slug → delivery').item.json.title }}»",
        "message": "=<p>Здравствуйте!</p>\n<p>Спасибо за покупку — <strong>«{{ $('Resolve slug → delivery').item.json.title }}»</strong>.</p>\n<p>Доступ по ссылке: <a href=\"{{ $('Resolve slug → delivery').item.json.shareUrl }}\">{{ $('Resolve slug → delivery').item.json.shareUrl }}</a></p>\n<p>Если это Notion-шаблон — нажми «Duplicate» в правом верхнем углу, чтобы скопировать в свой workspace. Если Google Sheets — «Файл → Создать копию».</p>\n<ul>\n  <li>Платёж: <code>{{ $('Resolve slug → delivery').item.json.payment_id }}</code></li>\n  <li>Сумма: {{ $('Resolve slug → delivery').item.json.amount_value }} {{ $('Resolve slug → delivery').item.json.amount_currency }}</li>\n</ul>\n<p>Электронный чек 54‑ФЗ ЮKassa отправит на этот же email отдельным письмом.</p>\n<p>Если ссылка не открылась или возникли вопросы — напишите в ответ на это сообщение.</p>\n<p>—<br>Делай Дело<br><a href=\"https://artemida2.github.io/busines\">artemida2.github.io/busines</a></p>",
        "options": { "appendAttribution": false }
      },
      "id": "dd-rx-7",
      "name": "Gmail: send link",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [864, 800],
      "webhookId": "dd-rx-gmail-link",
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CRED_ID",
          "name": "Gmail (Делай Дело)"
        }
      }
    }
  ],
  "connections": {
    "Webhook (from YooKassa)": {
      "main": [[{ "node": "Only payment.succeeded + delaydelo", "type": "main", "index": 0 }]]
    },
    "Only payment.succeeded + delaydelo": {
      "main": [
        [{ "node": "Resolve slug → delivery", "type": "main", "index": 0 }]
      ]
    },
    "Resolve slug → delivery": {
      "main": [[{ "node": "delivery_type = file?", "type": "main", "index": 0 }]]
    },
    "delivery_type = file?": {
      "main": [
        [{ "node": "Google Drive: download", "type": "main", "index": 0 }],
        [{ "node": "Gmail: send link", "type": "main", "index": 0 }]
      ]
    },
    "Google Drive: download": {
      "main": [[{ "node": "Gmail: send file", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": { "instanceId": "delaydelo" }
}
