n8n/delaydelo-yukassa-receiver.json
{
  "name": "Делай Дело — receiver (yukassa webhook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "delaydelo-yukassa",
        "responseMode": "onReceived",
        "responseCode": 200,
        "responseData": "={\"ok\":true}",
        "options": {
          "rawBody": false
        }
      },
      "id": "dd-rx-webhook",
      "name": "Webhook (from ЮKassa)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        700
      ],
      "webhookId": "delaydelo-yukassa",
      "notes": "URL для ЮKassa: https://hooks.neirolanding.ru/webhook/delaydelo-yukassa\nВставить в кабинет ЮKassa → Уведомления → подписка на payment.succeeded.\nresponseMode=onReceived → отвечаем 200 сразу, остальная обработка идёт асинхронно."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "evt-succeeded",
              "leftValue": "={{ $json.body && $json.body.event }}",
              "rightValue": "payment.succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dd-rx-if-event",
      "name": "event = payment.succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        80,
        700
      ]
    },
    {
      "parameters": {
        "functionCode": "// === Карта выдачи: slug → способ доставки ===\n// Каталог «Делай Дело», 18 продуктов = 16 файлов (Drive) + 2 Pro‑тарифа (link).\n// При появлении нового продукта — добавь строку в MAP, обнови CATALOG в delaydelo-create-payment.\n//\n// deliveryType:\n//   'file' — n8n скачает файл из Google Drive и приложит к письму (PDF/Excel/zip).\n//   'link' — n8n отправит письмо со ссылкой без вложения (Pro‑доступ к калькулятору).\nconst MAP = {\n  // Маркетплейсы\n  'unit-economy-excel':      { deliveryType: 'file', fileId: '1sTWnDW7546HeegTkUjho6joDxC4rYDqQ', fileName: 'unit-economy-excel.zip', title: 'Юнит‑экономика SKU для WB и Ozon' },\n  'wbozon-zero-to-100k':     { deliveryType: 'file', fileId: '1ObFrfPgFCzCYSyc5VKjVciPoP7I5sXwZ', fileName: 'wbozon-zero-to-100k.pdf', title: 'Core‑гайд: WB и Ozon с нуля до 100 000 ₽ оборота' },\n  'wb-ozon-card-seo':        { deliveryType: 'file', fileId: '1IJK4FiSTGeh05feQuQqzwzOkBbo6bjmQ', fileName: 'wb-ozon-card-seo.zip', title: 'SEO карточек WB и Ozon: ключи, заголовки, описания' },\n  'wb-ozon-reviews':         { deliveryType: 'file', fileId: '1Fk8_jO2J27611bRCQv2llRxA8h_rfPtV', fileName: 'wb-ozon-reviews.zip', title: 'Управление отзывами WB и Ozon' },\n  'wb-card-prompts':         { deliveryType: 'file', fileId: '1ypbEryr4VVOdm1SSoml6H_NJf_ERvJN9', fileName: 'wb-card-prompts.pdf', title: 'Промпт‑пак: AI‑описания карточек WB и Ozon' },\n  'china-suppliers':         { deliveryType: 'file', fileId: '1oJSW-f98Atkonwm7hiD04WQETwAlUVXZ', fileName: 'china-suppliers.pdf', title: 'Поставщики из Китая для WB и Ozon' },\n  'wb-internal-ads':         { deliveryType: 'file', fileId: '1WV4PZ1Drfd6USWlSDoqPalTAy8uDfi-P', fileName: 'wb-internal-ads.pdf', title: 'Внутренняя реклама WB' },\n  'ozon-after-wb':           { deliveryType: 'file', fileId: '1ZIrqAmhez0Xdcu2xh4tkERcaaEcgg2Ei', fileName: 'ozon-after-wb.pdf', title: 'Выход на Ozon после WB' },\n  'yandex-market-launch':    { deliveryType: 'file', fileId: '1uAPYBSqGL00oWd2CjOmsBcIOlJa1rqci', fileName: 'yandex-market-launch.pdf', title: 'Запуск на Яндекс.Маркете' },\n  // Самозанятые / ИП\n  'self-employed-coreguide': { deliveryType: 'file', fileId: '1gPYI9I-KnS4MXMhuDNctykyAc2m14qa0', fileName: 'self-employed-coreguide.pdf', title: 'Core‑гайд самозанятого: запуск и первые 10 клиентов' },\n  'self-employed-finance':   { deliveryType: 'file', fileId: '19npizAKH_KOXvm2dTXiQF5V3Ddpxm1GH', fileName: 'self-employed-finance.zip', title: 'Финансовый учёт самозанятого' },\n  'services-marketplaces':   { deliveryType: 'file', fileId: '1b9kDzboHGHha-uKCx8iIGoIKVUZFQ_aH', fileName: 'services-marketplaces.pdf', title: 'Маркетплейсы услуг: Avito, Profi.ru, YouDo, Я.Услуги' },\n  'raise-price-scripts':     { deliveryType: 'file', fileId: '1Zc6rzb1y6IDdTmbaBKBTPF04A9hPLqVS', fileName: 'raise-price-scripts.pdf', title: 'Скрипты переписки: как поднять цену услуги' },\n  'services-time-planning':  { deliveryType: 'file', fileId: '1NHhIAX86lf_OYYwmsNAWUoT4ShmXyhDx', fileName: 'services-time-planning.pdf', title: 'Планирование времени и защита от выгорания для мастера' },\n  'services-targeted-ads':   { deliveryType: 'file', fileId: '1XHOlmib33j0Z0oe2i8C-hvy3w76om-KU', fileName: 'services-targeted-ads.pdf', title: 'Таргет VK Ads и Яндекс.Директ для услуг' },\n  'services-word-of-mouth':  { deliveryType: 'file', fileId: '1l2UuOtlMrlm9Ol6wnnuV-UwY1wwC4miO', fileName: 'services-word-of-mouth.pdf', title: 'Сарафанное радио и система отзывов для самозанятого' },\n  // Pro‑тарифы калькулятора (без файла, доступ ссылкой)\n  'calc-pro-year':           { deliveryType: 'link', shareUrl: 'https://delo-delai.ru/pro-access/?plan=year', title: 'Калькулятор Pro — годовой доступ' },\n  'calc-pro-lifetime':       { deliveryType: 'link', shareUrl: 'https://delo-delai.ru/pro-access/?plan=lifetime', title: 'Калькулятор Pro — пожизненный доступ' }\n};\n\n// === Извлекаем данные о платеже ===\n// Поддерживаем 3 формы входных данных:\n// 1) Прямо от Webhook (как у Special English): items[0].json = { body: { event, object } }\n// 2) Уже извлечённое body (если родительский workflow передал $json.body): items[0].json = { event, object }\n// 3) Прямо object (если родитель передал ровно тело уведомления): items[0].json = { id, status, metadata }\nconst raw = items[0].json || {};\nconst body = raw.body || raw;\nconst object = body.object || body;\nconst metadata = (object && object.metadata) || {};\n\n// Этот receiver слушает только webhook /webhook/delaydelo-yukassa,\n// он принимает только события из своего магазина ЮKassa, фильтр project не нужен.\n\nconst slug = (metadata.guide_slug || '').toString();\nconst email = (\n  metadata.email ||\n  (object.receipt && object.receipt.customer && object.receipt.customer.email) ||\n  ''\n).toString().trim();\nconst paymentId = (object.id || '').toString();\nconst amount = object.amount || {};\n\nif (!slug || !MAP[slug]) {\n  throw new Error('Unknown or missing guide_slug in metadata: ' + slug);\n}\nif (!email) {\n  throw new Error('Missing email in metadata');\n}\n\nconst product = MAP[slug];\nconst payload = {\n  guide_slug: slug,\n  email,\n  payment_id: paymentId,\n  amount_value: amount.value,\n  amount_currency: amount.currency,\n  delivery_type: product.deliveryType,\n  title: product.title\n};\n\nif (product.deliveryType === 'file') {\n  payload.fileId = product.fileId;\n  payload.fileName = product.fileName;\n} else {\n  payload.shareUrl = product.shareUrl;\n}\n\nreturn [{ json: payload }];\n"
      },
      "id": "dd-rx-3",
      "name": "Resolve slug → delivery",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        320,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-file",
              "leftValue": "={{ $json.delivery_type }}",
              "rightValue": "file",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dd-rx-4",
      "name": "delivery_type = file?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        560,
        700
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.fileId }}",
          "mode": "id"
        },
        "options": {
          "fileName": "={{ $json.fileName }}"
        }
      },
      "id": "dd-rx-5",
      "name": "Google Drive: download",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        800,
        620
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_DRIVE_CRED_ID",
          "name": "Google Drive (Делай Дело)"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Resolve slug → delivery').item.json.email }}",
        "subject": "=Спасибо за покупку — «{{ $('Resolve slug → delivery').item.json.title }}»",
        "message": "=<p>Здравствуйте!</p>\n<p>Спасибо за покупку — <strong>«{{ $('Resolve slug → delivery').item.json.title }}»</strong>. Файл во вложении к этому письму.</p>\n<ul>\n  <li>Платёж: <code>{{ $('Resolve slug → delivery').item.json.payment_id }}</code></li>\n  <li>Сумма: {{ $('Resolve slug → delivery').item.json.amount_value }} {{ $('Resolve slug → delivery').item.json.amount_currency }}</li>\n</ul>\n<p>Электронный чек 54‑ФЗ ЮKassa отправит на этот же email отдельным письмом.</p>\n<p>Если письмо или чек не пришли — напишите в ответ на это сообщение.</p>\n<p>—<br>Делай Дело<br><a href=\"https://delo-delai.ru\">delo-delai.ru</a></p>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "id": "dd-rx-6",
      "name": "Gmail: send file",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1040,
        620
      ],
      "webhookId": "dd-rx-gmail-file",
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CRED_ID",
          "name": "Gmail (Делай Дело)"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Resolve slug → delivery').item.json.email }}",
        "subject": "=Спасибо за покупку — «{{ $('Resolve slug → delivery').item.json.title }}»",
        "message": "=<p>Здравствуйте!</p>\n<p>Спасибо за покупку — <strong>«{{ $('Resolve slug → delivery').item.json.title }}»</strong>.</p>\n<p>Доступ по ссылке: <a href=\"{{ $('Resolve slug → delivery').item.json.shareUrl }}\">{{ $('Resolve slug → delivery').item.json.shareUrl }}</a></p>\n<p>Если это Notion-шаблон — нажми «Duplicate» в правом верхнем углу, чтобы скопировать в свой workspace. Если Google Sheets — «Файл → Создать копию».</p>\n<ul>\n  <li>Платёж: <code>{{ $('Resolve slug → delivery').item.json.payment_id }}</code></li>\n  <li>Сумма: {{ $('Resolve slug → delivery').item.json.amount_value }} {{ $('Resolve slug → delivery').item.json.amount_currency }}</li>\n</ul>\n<p>Электронный чек 54‑ФЗ ЮKassa отправит на этот же email отдельным письмом.</p>\n<p>Если ссылка не открылась или возникли вопросы — напишите в ответ на это сообщение.</p>\n<p>—<br>Делай Дело<br><a href=\"https://delo-delai.ru\">delo-delai.ru</a></p>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "dd-rx-7",
      "name": "Gmail: send link",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        800,
        800
      ],
      "webhookId": "dd-rx-gmail-link",
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CRED_ID",
          "name": "Gmail (Делай Дело)"
        }
      }
    }
  ],
  "connections": {
    "Webhook (from ЮKassa)": {
      "main": [
        [
          {
            "node": "event = payment.succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "event = payment.succeeded?": {
      "main": [
        [
          {
            "node": "Resolve slug → delivery",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Resolve slug → delivery": {
      "main": [
        [
          {
            "node": "delivery_type = file?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delivery_type = file?": {
      "main": [
        [
          {
            "node": "Google Drive: download",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail: send link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive: download": {
      "main": [
        [
          {
            "node": "Gmail: send file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "delaydelo"
  }
}